@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-bg: #1E1E20;
  --text-color: #FFFFFF;
  --secondary-text: #A0A0A0;
  --selection-color: #03BEC2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--dark-bg);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

/* Anchor tags and links color */
a {
  color: var(--text-color);
}

a:hover {
  color: var(--selection-color);
}



/* For Sidebar */
.sidebar {
  background: var(--dark-bg);
}

.sidebar-btn {
  color: var(--secondary-text);
  transition: all 0.3s ease-in-out;
}

.sidebar-btn:hover {
  color: var(--text-color);
}

.sidebar-btn.active svg {
  color: var(--text-color); 
}

.sidebar-btn.active::before {
  content: "";
  position: absolute;
  left: 0;
  height: 30px;
  width: 4px;
  background: var(--selection-color);
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
/* Button Base Styles */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem; /* 6px */
  padding: 0.2rem 1rem;
  font-weight: 500;
  font-size: 0.875rem;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  border: 2px solid transparent;
}

/* Primary Button (using your selection color) */
.btn-primary {
  background-color: var(--selection-color);
  color: var(--text-color);
}

.btn-primary:hover {
  background-color: transparent;
  color: var(--selection-color);
  border-color: var(--selection-color);
}

/* Icon Button Variant */
.btn-icon {
  padding: 0.25rem;
  background-color: transparent;
  border-color: var(--secondary-text);
  color: var(--secondary-text);
}

.btn-icon:hover {
  border-color: var(--selection-color);
  color: var(--text-color);
}


/* Global Scrollbar Styles for WebKit-based browsers */
::-webkit-scrollbar {
  width: 8px; /* Thin scrollbar */
  height: 8px; /* Thin horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--dark-bg); /* Light grey track color */
}

::-webkit-scrollbar-thumb {
  background: #aaa; /* Subtle thumb color */
  border-radius: 10px; /* Rounded corners */
  transition: background 0.3s ease; /* Smooth transition on hover */
}

::-webkit-scrollbar-thumb:hover {
  background: #666; /* Slightly darker on hover */
}

/* Global Scrollbar Styles for Firefox */
* {
  scrollbar-color: #aaa var(--dark-bg); /* Subtle thumb and track color */
  scrollbar-width: thin; /* Thin scrollbar */
}

/* Hide scrollbar for all browsers */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}